html {
  box-sizing: border-box;
}
*, *:before, *:after { 
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
a, a:hover, a:link, a:visited, a:active{color: #000; text-decoration: none;}
.testborder{border: 1px solid red}
// colors
@red: #b82828;
@dark: #3b3b3b;
@width: 1200px;

@font-face{
	font-family: 'oxygen-regular';
	src: url('/fonts/oxygen/Oxygen-Regular.woff2') format('woff2'),
		 url('/fonts/oxygen/Oxygen-Regular.woff') format('woff');
}
@font-face{
	font-family: 'oxygen-bold';
	src: url('/fonts/oxygen/Oxygen-Bold.woff2') format('woff2'),
		 url('/fonts/oxygen/Oxygen-Bold.woff') format('woff');
}
@font-face{
	font-family: 'hindreg';
	src: url('/fonts/hind/Hind-Regular.woff2') format('woff2'),
		 url('/fonts/hind/Hind-Regular.woff') format('woff');
}
.oxyreg{font-family: 'oxygen-regular';}
.oxybold{font-family: 'oxygen-bold';}
.hindreg{font-family: 'hindreg';}

// start
.container{
	max-width: @width;
	padding: 5px 10px;
	width: 100%;
	margin: 0 auto;
}
nav{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	box-shadow: 0 0 11px #636363;
	.top{
		background: #5b5b5b;
		width: 100;
		.hindreg;
		.container{
			text-align: right;
			padding: 3px 10px;
			a{
				color: #fff;
				margin: 0 0 0 15px;
				transition: 0.3s;
				&:hover{color: @red}
				font-size: 14px;
			}
		}
	}
	.bottom{
		background: @dark;
		width: 100%;
		color: #fff;
		.oxyreg;
		text-align: center;
		.container{
			padding: 7px 0;
		}
		.left{
			width: 49%;
			vertical-align: middle;
			display: inline-block;
			text-align: left;
			.title{
				font-size: 29px;
				color: #fff;
			}
		}
		.right{
			width: 50%;
			vertical-align: middle;
			display: inline-block;
			text-align: right;
			p{
				font-size: 16px;
				span{
					font-size: 25px;
				}
			}
		}
	}
}
.content_container{
	margin-top: 83px;
	background: #eeeeee;
}
.home_banner{
	height: 560px;
	width: 100%;
	background-image: url('/img/banner.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	box-shadow: 2px 0 11px #000;
	.overlayer{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,0.5);
		.container{
			.table{
				display: table;
				height: 545px;
				width: 100%;
				.content{
					display: table-cell;
					vertical-align: middle;
					text-align: center;
					width: 100%;
					color: #fff;
					.title{
						.oxybold;
						font-size: 55px;
						text-shadow: 0px 0px 11px #d7d7d7;
					}
					.columns{
						display: inline-block;
						vertical-align: middle;
						text-align: center;
						width: 30%;
						margin: 30px 0;
						a{
							display: block;
							margin: 0 auto;
							padding: 15px 10px;
							text-align: center;
							transition: 0.5s;
							border-radius: 10px;
							font-size: 20px;
						}
						.lost{
							background: @red;
							max-width: 300px;
							width: 100%;
							color: #ddd;
							border: 1px solid @red;
							.oxybold;
							&:hover{
								color: @red;
								background: #ddd;
							}
						}
						.found{
							background: @dark;
							max-width: 300px;
							width: 100%;
							color: #fff;
							border: 1px solid @dark;
							.oxybold;
							&:hover{
								color: @dark;
								background: #ddd;
							}
						}
					}
				}
			}
		}
	}
}
.how_it_works{
	height: 300px;
	background: #d4d4d4;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}